<footer class="footer">
  <div class="footer__menu">
    <h2 class="footer__title">MENU</h2>
    <ul class="footer__list">
      <li><a href="/over-anniek.html">over anniek</a></li>
      <li><a href="/behandelingen.html">behandelingen</a></li>
      <li><a href="/index.html#kadobon">kadobon</a></li>
      <li><a href="/merken.html">merken</a></li>
      <li><a href="/skin-news.html">skin news</a></li>
      <li><a href="/contact.html">contact</a></li>
    </ul>
  </div>
  <div class="footer__contact">
    <h2 class="footer__title">CONTACT INFORMATION</h2>
    <p class="footer__p">
      Schoonheidsinstituut Anniek Lambrecht<br>
      L. Dujardinstraat 9<br>
      8370 Blankenberge
    </p>
    <ul class="footer__contact--list">
      <li>
        <svg class="phone-icon">
          <use xlink:href="images/sprite.svg#icon-old-phone"></use>
        </svg>
        <a href="tel:050694165">050 69.41.65</a></li>
      <li>
        <svg class="mail-icon">
          <use xlink:href="images/sprite.svg#icon-mail"></use>
        </svg>
        <a href="mailto:info@anniek-lambrecht.be">info@anniek-lambrecht.be</a>
      </li>
    </ul>
  </div>
  <div class="footer__legal">
    <ul class="footer__list">
      <li>&copy;2018 Anniek Lambrecht</li>
      <li>Alle rechten voorbehouden</li>
    </ul>
    <ul class="footer__social">
      <li>
        <a href="https://www.facebook.com/pages/Anniek-Lambrecht-Schoonheidsspecialiste/531106993649513?ref=hl" target="_blank">
          <svg class="facebook-icon">
            <use xlink:href="images/sprite.svg#icon-facebook-with-circle"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/annieklambrecht/" target="_blank">
          <svg class="facebook-icon">
            <use xlink:href="images/sprite.svg#icon-instagram-with-circle"></use>
          </svg>
        </a>
      </li>
    </ul>
</div>
</footer>
