<header class="header navigation" role="banner">
  <div class="header__logo-box">
    <a href="/"
      ><img
        src="/images/logo-anniek-lambrecht.png"
        alt="Logo"
        class="header__logo"
    /></a>
  </div>

  <nav class="header__navigation" role="navigation">
    <ul class="navigation__list secondary">
      <li>
        <a
          href="https://www.facebook.com/pages/Anniek-Lambrecht-Schoonheidsspecialiste/531106993649513?ref=hl"
          target="_blank"
        >
          <svg class="facebook-icon">
            <use xlink:href="images/sprite.svg#icon-facebook-with-circle"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/annieklambrecht/" target="_blank">
          <svg class="facebook-icon">
            <use
              xlink:href="images/sprite.svg#icon-instagram-with-circle"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="tel:050694165">050/69.41.65</a>
      </li>
      <li>
        <a href="mailto:info@anniek-lambrecht.be">info@anniek-lambrecht.be</a>
      </li>
      <li>
        <a
          href="https://schoonheidsinstituut-anniek-lambrecht-1.salonized.com/bookings/new"
          >Maak een afspraak</a
        >
      </li>
    </ul>
    <div class="header__menu">
      <a
        href="javascript:void(0)"
        class="navigation-menu-button"
        id="js-mobile-menu"
        >MENU</a
      >
    </div>
    <ul
      id="js-navigation-menu"
      class="navigation__list primary navigation-menu show"
    >
      <li class="navigation__item nav-link">
        <a href="/over-anniek.html" class="navigation__link">Over Anniek</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/behandelingen.html" class="navigation__link">Behandelingen</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/make-up-epilatie.html" class="navigation__link">Make Up</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/index.html#kadobon" class="navigation__link">Kadobon</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/merken.html" class="navigation__link">Merken</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/skin-news.html" class="navigation__link">Skin News</a>
      </li>
      <li class="navigation__item nav-link">
        <a href="/contact.html" class="navigation__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
