

// Color variables
$color-grey-light: #9B9B9B;
$color-grey-light2: #DFDBDB;
$color-grey-dark: #4A4A4A;
$color-action: #EE7C98;
$color-action-light: #E696A9;
$color-white: #FFFFFF;

// Breakpoints
$bp-largest: 74.5em; // 1200px
$bp-large: 68.62em; // 1098px
$bp-medium: 50em; // 800px
$bp-mobile: 37.5em; // 600px
