.section-brands {
  margin-top: 20rem;
  h1 {
    text-align: center;
    font-size: 2.4rem;
  }
}

  .brands {
    display: flex;
    justify-content: space-between;
    margin-top: 9.6rem;
    margin-bottom: 11.2rem;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: center;
    }
  }

  .brand {
    width: 33%;
    padding: 0 1.6rem;
    @media only screen and (max-width: $bp-large) {
      padding: 0 1.2rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-mobile) {
      width: 100%;
    }
  }

  .brand__img {
    @media only screen and (max-width: $bp-large) {
      width: 85%;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 30vw;
    }
    @media only screen and (max-width: $bp-mobile) {
      width: 50vw;
    }
  }


.skin-wizard {
  text-align: right;
}
