.header {
  height: 11.2rem;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-mobile) {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding: 2.4rem 0;
  }
}

.navigation {

  z-index: 999;
  margin-right: .8rem;

  &__list {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
    }

    @media only screen and (min-width: $bp-small)

      {
      li:not(:last-child) {
        margin-right: .8rem;
      }
    }

    @media only screen and (min-width: $bp-large) {
      li:not(:last-child) {
        margin-right: 2rem;
      }
    }

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.6rem;
      color: $color-grey-dark;
      padding-bottom: .5rem;
      }

    @media only screen and (max-width: $bp-small) {

      li {
        //margin-right: 1.2rem;
        a {
          font-size: 1rem;
        }
      }
    }

    @media only screen and (max-width: $bp-medium) {

      li {
        //margin-right: 1.2rem;
        a {
          font-size: 1.2rem;
        }
      }
    }

    &.primary {
      text-transform: uppercase;
      margin-bottom: 0;

      @media only screen and (max-width: $bp-mobile) {
        //padding-left: 1.6rem;

        li {
          line-height: 3.2rem;
        }
      }

      @media only screen and (max-width: $bp-large) {
        margin-left: 1.6rem;
        justify-content: flex-end;
      }


      a {
        color: $color-grey-dark;

        &:active {
          color: $color-action;
        }

        &:hover {
          color: $color-action;
        }
      }
    }

    &.secondary {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 3.2rem;
      list-style-type: none;

      @media only screen and (max-width: $bp-mobile) {
        align-items: baseline;
        justify-content: flex-start;
        padding-left: 1.6rem;
        line-height: 3.2rem;
      }

      a {
        color: $color-grey-light;
        font-weight: 400;
        font-size: 1.6rem;

        &:hover {
          color: $color-action;
        }
      }
    }

    .facebook-icon {
      height: 3rem;
      width: 3rem;
      fill: $color-grey-light;
      transition: fill 0.2s;
      @media only screen and (max-width: $bp-mobile) {
        height: 2.4rem;
        width: 2.4rem;
      }
      &:hover {
        fill: $color-action;
      }
    }
  }
}

nav {
  z-index: 9999999;
}

a.navigation-menu-button {

  @media only screen and (max-width: $bp-mobile) {
    padding-left: 1.6rem;
    color: $color-grey-dark;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
  }

  @media only screen and (min-width: $bp-small) {
    display: none;
  }

  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}

ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: inline;
    }

    @media only screen and (min-width: $bp-small) {
      display: inline;
      margin: 0;
      padding: 0;
    }

    @media only screen and (min-width: $bp-medium) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li.nav-link {
    display: block;
    overflow: hidden;
    //width: 100%;
    z-index: 9999;

    @media only screen and (min-width: $bp-small) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }
