.section-treatments {
  margin-top: 20rem;

  @media only screen and (max-width: $bp-mobile) {
    margin-top: 10rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  .treatment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 33%;
    padding: 0 2.4rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-mobile) {
      margin-top: 2.4rem;
    }

    &__img {
      border-radius: 50%;
      border: 2px solid $color-grey-light2;
      transition: border .2s;

      &:hover {
        border: 3px solid $color-action;
        cursor: pointer;
      }

      @media only screen and (max-width: $bp-large) {
        width: 75%;
      }
      @media only screen and (max-width: $bp-medium) {
        width: 80%;
        height: 90%;
      }
    }

    &__title {
      margin-top: 3.2rem;

      @media only screen and (max-width: $bp-mobile) {
        margin-top: 1.6rem;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
