.section-treatments {
  margin-top: 20rem;

  @media only screen and (max-width: $bp-mobile) {
    margin-top: 10rem;
  }
  .row {
    display: flex;
    justify-content: start;
    margin-bottom: 3.2rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  .treatment {
    width: 33%;
    padding: 0 2.4rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-mobile) {
      margin-top: 2.4rem;
    }

    &__img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid $color-grey-light2;

      transition: border 0.2s;

      &:hover {
        border: 2px solid $color-action;
        cursor: pointer;
      }

      @media only screen and (max-width: $bp-large) {
        width: 75%;
      }
      @media only screen and (max-width: $bp-medium) {
        width: 80%;
        height: 90%;
      }
    }

    &__title {
      margin-top: 3.2rem;
      text-align: center;

      @media only screen and (max-width: $bp-mobile) {
        margin-top: 1.6rem;
        margin-bottom: 0.8rem;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
