.bodytext {
  font-size: 1.6rem;
  color: $color-grey-dark;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
  color: $color-action;
}

.readmore {
  color: $color-action;
  //font-weight: 700;
  font-size: 1.6rem;
}
